.footer-block__adress {
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 231px;
        margin-right: 70px;
    }    
}

.footer-address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white-color;
}

.footer-contacts {
    @media screen and (max-width: 1199px){
        margin-top: 8px;
    }

    @media screen and (min-width: 1200px){
        margin-top: 9px;
    }
}

.footer-contacts__item {
    @media screen and (max-width: 1199px){
        margin-top: 8px;
    }

    @media screen and (min-width: 1200px){
        margin-top: 9px;
    }
}

.footer-contacts__link {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
    transition: color 250ms $animation-timing;

    &:hover,
    &:focus {
        color: $blue-color;
    }
}