.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: #2F303A;
}

.footer-block {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: block;

    margin-bottom: 20px;
    margin-right: 0;
}