.header__menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
}
  
.header__menu-icon {
    width: 40px;
    height: 40px;
  
    .header__menu-button:hover &,
    .header__menu-button:focus & {
      fill: $blue-color;
      transition: fill $animation-timing;
    }
}